/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  letter-spacing: 1px;
  overflow-x: hidden;
  padding-bottom: 0;
}

@font-face {
  font-family: "Romantica Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Romantica Regular"), url("Romantica-RpXpW.woff") format("woff");
}

/* pages */
.pag {
  font-size: 10em !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home,
.about,
.contact {
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: black;
  color: white;
}
/* pages */

/* Our Staff */
.front {
  text-align: center;
  color: rgb(138, 13, 49);
}
.back {
  color: white;
  background-color: #8a0d31 !important;
  line-height: 2em;
}
.ourstaff {
  /* height: 100vh; */
  width: 100vw;
  background-color: rgb(255, 255, 255);
  /* color: white; */
}

.staffimg {
  /* margin-bottom: 2em; */
  /* padding-bottom: 2em; */
  width: 100%;
  /* margin-top: 3em; */
  border-radius: 50%;
}
.staff {
  font-size: 4em;
  /* padding-top: 3em !important; */
  color: #000;
  text-align: center;
}

.jimg {
  /* float: left; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3em;
  padding: 2em 2em;
}
/* Our Staff */

/* loader */
.loader {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* loader */

/*My Headings*/
.mytitles {
  /* height: 2em; */
  /* letter-spacing: 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  width: 100%;
  /* padding-top: 1em; */
  margin-top: 1em;
}

.mytitles::after {
  background-color: rgb(138, 13, 49);
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 100px;
}
/*My Headings*/

/* Navbar */
/* .navbar {
  background-color: transparent;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  right: 0;
  z-index: 99;
} */

.menu-bars {
  /* margin-right: 1rem; */
  font-size: 3rem;
  color: #000 !important;
  top: 15px;
  right: 15px;
  position: absolute;
  z-index: 999;
}

.menu-icon {
  width: 45px;
  height: 50px;
  position: fixed;
  top: 35px;
  right: 20px;
}
.menu-icon .bar {
  width: 100%;
  height: 4px;
  margin: 6px 0;
  border: 1px solid #000;
  background: #fff;
}

.nav-menu {
  height: 100vh;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  top: -150%;
  transition: 850ms;
  z-index: 999;
}

.nav-menu.active {
  top: 0;
  transition-timing-function: ease-in-out;
}

.closing {
  float: right;
}

.nav-text {
  display: flex;
  /* justify-content: right; */
  align-items: center;
  /* padding: 8px 0px 8px 16px; */
  list-style-type: none;
  line-height: 5em;
}
.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 3.5em;
  width: 100%;
  height: 100%;
  /* align-items: center; */
  margin-left: 2em;
  text-align: left;
  padding: 0;
  border-bottom: 2px solid white;
  transition: 0.5s !important;
  line-height: 2em;
}

.nav-text a:hover {
  border-bottom: 2px solid rgb(138, 13, 49);
}

.nav-menu-items {
  width: 100%;
  list-style-type: none;
  /* margin-top: 7em; */
}
.navbar-toogle {
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
}
/*Navbar*/
