/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  letter-spacing: 1px;
  overflow-x: hidden;
  padding-bottom: 0;
}

/* pages */
.pag {
  font-size: 10em !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home,
.about,
.contact {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}
.banner {
  height: 100vh;
  width: 100vw;
  color: white;
}
/* pages */

/* loader */
.loader {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* loader */

/* Navbar */
.menu-bars {
  /* margin-right: 1rem; */
  font-size: 3rem;
  color: #000 !important;
  top: 15px;
  right: 15px;
  position: absolute;
  z-index: 999;
}

.menu-icon {
  width: 45px;
  height: 50px;
  position: fixed;
  top: 35px;
  right: 20px;
}
.menu-icon .bar {
  width: 100%;
  height: 4px;
  margin: 6px 0;
  border: 1px solid #000;
  background: #fff;
}

.nav-menu {
  height: 100vh;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  top: -150%;
  transition: 850ms;
  z-index: 999;
}

.nav-menu.active {
  top: 0;
  transition-timing-function: ease-in-out;
}

.closing {
  float: right;
}

.nav-text {
  display: flex;
  /* justify-content: right; */
  align-items: center;
  /* padding: 8px 0px 8px 16px; */
  list-style-type: none;
  line-height: 5em;
}
.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 3.5em;
  width: 100%;
  height: 100%;
  /* align-items: center; */
  margin-left: 2em;
  text-align: left;
  padding: 0;
  border-bottom: 2px solid white;
  transition: 0.5s !important;
  line-height: 2em;
}

.nav-text a:hover {
  border-bottom: 2px solid rgb(138, 13, 49);
}

.nav-menu-items {
  width: 100%;
  list-style-type: none;
  /* margin-top: 7em; */
}
.navbar-toogle {
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
}
/*Navbar*/
